<html>
    <head>
        <title>Mileage Calculator</title>
        <link href="style.css" rel="stylesheet">
        <style>
            .box
            {
                width: 500px;
                height: 500px;
                background-color: black;
                position: fixed;
                top: 130px;
                left: 510px;
                text-align:center;
                
            }
            
        </style>
    </head>
    <body>
        <div class="box">
            <font color="white"><h1 align="center">MILEAGE CALCULATOR</h1> </font>
            <font color="white"><h2 align="center">M AADHAVAN NAGARAJAN 25011373</h2></font>
            <hr color="lime"> 

            <form method="post">
                {% csrf_token %}
                <br>
                <br>
                <font color="white" size="5"> <label>The Total Distance Traveled:<label></font>
                <input type="number" name="distance" value="{{d}}">
                <br>
                <br>
                <br>
                <font color="white" size="5"> <label>Fuel Consumed:</label></font>
                <input type="number" name="fuel" value="{{f}}">
                <br>
                <br>
                <br>
                <button type="submit">Calculate</button>
                <br>
                <br>
                <br>
                <font color="white" size="5"> <label>Mileage:</label></font>
                <input class='result' type="number" name="Mileage" value="{{m}}">

            </form>
            

        </div>
    </body>
</html>